<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>D o b:</strong>
  <%= @profile.d_o_b %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>Image:</strong>
  <%= @profile.image %>
</p>

<p>
  <strong>Director:</strong>
  <%= @profile.director %>
</p>

<p>
  <strong>D i n:</strong>
  <%= @profile.d_i_n %>
</p>

<p>
  <strong>Company:</strong>
  <%= @profile.company_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @profile.employee_id %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %> | <%= link_to 'Home', root_path %>
