<p id="notice"><%= notice %></p>

<p>
  <strong>Meeting:</strong>
  <%= @meeting_employee.meeting_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @meeting_employee.employee_id %>
</p>

<%= link_to 'Edit', edit_meeting_employee_path(@meeting_employee) %> |
<%= link_to 'Back', meeting_employees_path %>
