<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @plan.start_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @plan.status.name %>
</p>

<p>
  <strong>Meeting:</strong>
  <%= @plan.meeting.plan_month %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @plan.priority.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @plan.rating %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %> | <%= link_to 'Home', root_path %>
