<!DOCTYPE html>
<html>
<head>
  <title>Mpm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if employee_signed_in? %>
<p> Hello, <%= current_employee.name %> | <%= link_to "sign_out", destroy_employee_session_path, :method => 'delete' %> </p>
<br>

<% end %>
<%= yield %>

</body>
</html>
