<!DOCTYPE html>
<html>
<head>
  <title>Mpm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if employee_signed_in? %>
<p> Hello, <%= current_employee.name %> | <%= link_to "Meetings", meetings_path %> | <%= link_to "Plans", plans_path %> | <%= link_to "Assignment", assignments_path %> | <%= link_to "Profiles", profiles_path %> |<%= link_to "Status", statuses_path %> | <%= link_to "Priority", priorities_path %> | <%= link_to "Category", categories_path %> | <%= link_to "Activity", activities_path %> | <%= link_to 'Home', root_path %> | <%= link_to "sign_out", destroy_employee_session_path, :method => 'delete' %></p>
<br>

<% end %>
<%= yield %>

</body>
</html>
